extends ./_layout/layout.pug

block variables
  - pageTitle = "Content Not Found"
  - pageURL = "404"

block content
  article.w.w--beta.mt--alpha
    include:markdown-it(html) 404.md
    hr
  .w.w--beta.mt--beta
    p= "Today's best line of code is:"
  .w.w--beta.mt
    +cld(thisItem, '')

