extends /_layout/layout.pug

block variables
  - pageTitle = "Evergreen"
  - pageURL = "evergreen"

block content
  article.w.w--beta.mt--alpha
    h1= "All time best lines of code of the day."
  .w.w--alpha.mt--alpha
    p.t-sm.t-r= "Sorted by: Date ASC"
  .w.w--alpha.grid
    each listValue, listIndex in listEvergreen
      +cld(listValue, 'cld--alpha')
