// Typography
//
// [Modular Scale](http://www.modularscale.com/) is used to achieve perfect vertical rhythm.
// <br>
// [CSS Locks](https://fvsch.com/code/css-locks/) is used to achieve perfect fluid typography.
//
// Markup:
// <div class="w w--beta">
//   <h1>About Code Line Daily</h1>
//   <p>Code Line Daily is a project made by Silvestar Bistrović in his free time. The goal of the project is to highlight the simplicity in the code, the essence, if you will—a single line of code.</p>
//   <h2>Open source</h2>
//   <p>The project is open-sourced, and you are very welcome to add your line of code, fix any bug, report any issue, or suggest any improvement. To add your favorite line of code, you could use either <a href="#link">CMS to submit the line</a> or <a href="#link">GitHub to create a new pull request</a>.</p>
//   <p>And don't forget to share the project with the community! Code Line Daily is available on Twitter, Facebook, and IndieHackers.</p>
// </div>
//
// Weight: 200
//
// Styleguide: Typography

html {
  @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
}

body {
  @include ls(20);
  font-size: ms(0);
  -webkit-font-smoothing: antialiased;
  line-height: $line-height;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
//
// Headings are usually used as titles. Use `.t-h1` and `.t-h2` as helper classes to force apply desired heading style to non-matching elements.
//
// Markup:
// <div class="w w--beta">
//   <h1>This is an H1 heading.</h1>
//   <h2>This is an H2 heading.</h2>
// </div>
//
// Weight: 210
//
// Styleguide: Typography.Headings
h1,
.t-h1 {
  font-size: ms(4);
  font-weight: normal;
}

h2,
.t-h2 {
  font-size: ms(2);
  font-weight: normal;
}

// Paragraphs
//
// Paragraphs are usualy used as body text. Use `.t-p` and `t-sm` as helper classes to force apply desired paragraph style to a non-matching element.
//
// Markup:
// <div class="w w--beta">
//   <p class="t-p {{ modifier_class }}">This is a regular paragraph.</p>
// </div>
//
// .t-p - Font size: ms(0)
// .t-sm - Font size: ms(-1)
// .t-xs - Font size: ms(-2)
//
// Weight: 220
//
// Styleguide: Typography.Paragraphs
p,
.t-p {
  font-size: ms(0);
}

.t-sm {
  font-size: ms(-1);
}

.t-xs {
  font-size: ms(-2);
}

::selection {
  background-color: $color-primary--alpha;
  color: $color-secondary--alpha;
}

