/// Media query definition for mobile devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1.Sizes
/// @name mq--mobile
/// @since 1.0.0
$mq--mobile: 480px;

/// Media query definition for desktop devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--tablet);
/// @group 1.1.Sizes
/// @name mq--tablet
/// @since 1.0.0
$mq--tablet: 768px;

/// Media query definition for desktop devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1.Sizes
/// @name mq--desktop
/// @since 1.0.0
$mq--desktop: 960px;

/// Media query definition for wide devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--wide, $font-size--mobile, $font-size--wide);
/// @group 1.1.Sizes
/// @name mq--wide
/// @since 1.0.0
$mq--wide: 1440px;

/// Default font size on mobile devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1.Sizes
/// @name font-size--mobile
/// @since 1.0.0
$font-size--mobile: 16px;

/// Default font size on desktop devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1.Sizes
/// @name font-size--desktop
/// @since 1.0.0
$font-size--desktop: 20px;

/// Default line-height
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example line-height: $line-height;
/// @group 1.1.Sizes
/// @name line-height
/// @since 1.0.0
$line-height: 1.5;

/// Default letter-spacing
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example letter-spacing: $letter-spacing;
/// @group 1.1.Sizes
/// @name letter-spacing
/// @since 1.0.0
$letter-spacing: 0.02em;

/// Configuration for modular scale
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1.Sizes
/// @name modularscale
/// @since 1.0.0
/// @link http://www.modularscale.com/
$modularscale: (
  base: 1rem,
  ratio: $minor-third
);

/// Configuration for media queries
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example
///   @include mq($from: mobile, $until: desktop) {
///     color: $color-alpha;
///   }
/// @group 1.1.Sizes
/// @name mq-breakpoints
/// @since 1.0.0
/// @link https://www.npmjs.com/package/sass-mq
$mq-breakpoints: (
  mobile:  $mq--mobile,
  tablet:  $mq--tablet,
  desktop: $mq--desktop,
  wide: $mq--wide
);

/// Color from color palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-primary--alpha;
/// @group 1.2.Colors
/// @name color-primary--alpha
/// @since 1.0.0
$color-primary--alpha: #12e09f;

/// Color for text
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-primary--beta;
/// @group 1.2.Colors
/// @name color-primary--beta
/// @since 1.0.0
$color-primary--beta: #92f6d7;

/// Color from color palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-secondary--alpha;
/// @group 1.2.Colors
/// @name color-secondary--alpha
/// @since 1.0.0
$color-secondary--alpha: #041f17;

/// Color for text
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-secondary--beta;
/// @group 1.2.Colors
/// @name color-secondary--beta
/// @since 1.0.0
$color-secondary--beta: #101413;

/// Transition duration
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example transition-duration: $tra;
/// @group 1.3.Transitions
/// @name trd
/// @since 1.0.0
$trd: 0.175s;

/// Transition animation
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example transition-duration: $tra;
/// @group 1.3.Transitions
/// @name tra
/// @since 1.0.0
$tra: cubic-bezier(0.04, 0.88, 0.74, 1.04);

/// PT Mono
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-alpha;
/// @group 1.4.Fonts
/// @name font-alpha
/// @since 1.0.0
$font-alpha: 'PT Mono';

/// PT Mono Subset
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-alpha-subset;
/// @group 1.4.Fonts
/// @name font-alpha-subset
/// @since 1.0.0
$font-alpha-subset: 'PT Mono Subset';
