<div class="cld {{ modifier_class }} w w--beta">
  <div class="cld__content">
    <a class="cld__inner" href="#link">
      <div class="cld__details cld__details--alpha">
        <span class="cld__detail">> Adds shortcode tag hook.</span>
      </div>
      <code class="cld__code">add_shortcode( 'card', 'generate_card' )</code>
    </a>
    <div class="cld__details cld__details--beta">
      <span class="cld__detail">#PHP</span>
      <span class="cld__detail">2019-08-09</span>
      <span class="cld__detail">By: <a class="btn">Silvestar</a></span>
    </div>
  </div>
  <div class="cld__share">
    <span class="cld__detail">Share:</span>
    <a class="btn btn--alpha" href="#twitter">Twitter</a>
    <a class="btn btn--alpha" href="#facebook">Facebook</a>
    <a class="btn btn--alpha" href="#reddit">Reddit</a>
  </div>
</div>
