//- include /_partials/signup.pug

.hf.mt--alpha
  .w.w--beta.hf__inner
    a.hf__logo(href="/")
      .hf__img
        img.hf__src(src="/gfx/svg/cld-logo.svg", alt="Code Line Daily Icon", inline="true")
      .hf__cld #{siteName}
    nav.hf__nav
      ul.hf__list
        each menuValue, menuIndex in menu2
          - var currentClass = menuValue.title == pageTitle ? 'hf__link active' : 'hf__link';
          li.hf__item
            if (menuValue.title === "Twitter")
              a(class=currentClass, href=menuValue.href, rel="me")= menuValue.title
            else
              a(class=currentClass, href=menuValue.href)= menuValue.title

.sig
  p Powered by #[a.sig__link(href="https://starter.silvestar.codes") #[img.sig__icon(src="/gfx/svg/starter-project.svg", alt="Starter Project Icon", inline="true")] Starter Project].
