extends /_layout/layout.pug

block variables
  - pageTitle = "Posts by: Silvestar Bistrović"

block content
  article.w.w--beta.mt--alpha
    include:markdown-it(html) silvestar.md
  .w.w--alpha.mt--alpha
    p.t-sm.t-r= "Sorted by: Date DESC"
  .w.w--alpha.grid
    each listValue, listIndex in listArchive
      +cld(listValue, 'cld--alpha')
