html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-secondary--alpha;
  color: $color-primary--alpha;
  // color: $color-beta;
  display: flex;
  flex-direction: column;
}

a {
  @include tra;
  color: inherit;
  text-decoration: none;

  &:not([class*="btn"]):visited {
    // color: $color-primary--beta;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-primary--beta;
  }
}

button {
  @include tra;
}

img {
  max-width: 100%;
}

hr {
  border-color: $color-primary--alpha;
  margin-bottom: rem(60px);
  margin-top: rem(60px);
  width: rem(100px);
}

article {
  h2:before {
    content: '> ';
  }

  h1:first-child {
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
  }

  a {
    box-shadow: 0 1px 0 currentColor;
  }
}

.main + .hf {
  margin-top: rem(90px);
}

.grid {
  display: grid;
  grid-gap: rem(30px);

  @include mq($from: desktop) {
    grid-gap: rem(60px);
    grid-template-columns: 1fr 1fr;
  }

  .cld {
    @include mq($from: desktop) {
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
