html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-secondary--alpha;
  color: $color-primary--alpha;
  // color: $color-beta;
  display: flex;
  flex-direction: column;
}

a {
  @include tra;
  color: inherit;

  &:not([class*="btn"]):visited {
    // color: $color-primary--beta;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-primary--beta;
  }

  &.active {
    text-decoration: underline;
  }
}

button {
  @include tra;
}

ul {
  list-style: none;
}

li {
  a {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
