// Wrappers
//
// Wrappers are used to limit the content to certain width.
//
// Markup:
// <div class="w {{ modifier_class }}">
//   <p>This is a wrapper.</p>
// </div>
//
// .w--alpha - Maximum width: 1440px
// .w--beta - Maximum width: 900px
//
// Weight: 300
//
// Styleguide: Wrappers
* {
  box-sizing: border-box;
}

.w {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(30px);
  padding-right: rem(30px);

  @include mq($until: mobile) {
    padding-left: rem(10px);
    padding-right: rem(10px);
  }
}

.w--alpha {
  max-width: rem(1440px);
  width: 100%;
}

.w--beta {
  max-width: rem(960px);
  width: 100%;
}

.w--omega {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

// Spacing Margin
//
// Spacing are used for whitespace.
//
// Markup:
// <div class="{{ modifier_class }}">
//   <p>This is whitespace for margin top.</p>
// </div>
//
// .pt--alpha - Big margin top
// .mt--beta - Small margin top
//
// Weight: 310
//
// Styleguide: SpacingMargin
.mt--alpha {
  margin-top: rem(90px);

  @include mq($until: mobile) {
    margin-top: rem(45px);
  }
}

.mt--beta {
  margin-top: rem(30px);

  @include mq($until: mobile) {
    margin-top: rem(15px);
  }
}

// Spacing Padding
//
// Spacing are used for whitespace.
//
// Markup:
// <div class="{{ modifier_class }}">
//   <p>This is whitespace for padding top.</p>
// </div>
//
// .pt--alpha - Big padding top
// .pt--beta - Small padding top
//
// Weight: 320
//
// Styleguide: Spacing
.pt--alpha {
  padding-top: rem(90px);

  @include mq($until: mobile) {
    padding-top: rem(45px);
  }
}

.pt--beta {
  padding-top: rem(30px);

  @include mq($until: mobile) {
    padding-top: rem(15px);
  }
}
