// Header
//
// Header is displayed at the top of the page and it consists
// of logo, title and menu.
//
// Markup:
// <div class="hf">
//   <div class="w w--beta hf__inner">
//     <a class="hf__skip" href="#main">Skip to main content</a>
//     <div class="hf__logo">
//       <span class="hf__img">
//         <img class="hf__src" src="/gfx/svg/cld-logo.svg">
//       </span>
//       <span class="hf__cld">Code <br>Line <br>Daily</h1>
//     </div>
//     <nav class="hf__nav">
//       <ul class="hf__list">
//         <li class="hf__item">
//           <a class="hf__link active" href="#home">Home</a>
//         </li>
//         <li class="hf__item">
//           <a class="hf__link" href="#archive">Archive</a>
//         </li>
//         <li class="hf__item">
//           <a class="hf__link" href="#evergreen">Evergreen</a>
//         </li>
//         <li class="hf__item">
//           <a class="hf__link" href="#about">About</a>
//         </li>
//       </ul>
//     </nav>
//   </div>
// </div>
//
// Weight: 400
//
// Styleguide: Header

// Footer
//
// Footer is displayed at the end of the page and it consists
// of logo, title and menu.
//
// Markup:
// <div class="hf">
//   <div class="w w--beta hf__inner">
//     <a class="hf__skip" href="#main">Skip to main content</a>
//     <div class="hf__logo">
//       <span class="hf__img">
//         <img class="hf__src" src="/gfx/svg/cld-logo.svg">
//       </span>
//       <span class="hf__cld">Code <br>Line <br>Daily</h1>
//     </div>
//     <nav class="hf__nav">
//       <ul class="hf__list">
//         <li class="hf__item">
//           <a class="hf__link" href="#evergreen">GitHub</a>
//         </li>
//         <li class="hf__item">
//           <a class="hf__link" href="#home">Twitter</a>
//         </li>
//         <li class="hf__item">
//           <a class="hf__link" href="#archive">Facebook</a>
//         </li>
//       </ul>
//     </nav>
//   </div>
// </div>
//
// Weight: 410
//
// Styleguide: Footer

.hf {
  background-color: $color-secondary--beta;
  padding: rem(15px);

  a[href*="/"] {
    text-decoration: none;

    &.active {
      position: relative;

      &:after {
        content: '<';
        position: absolute;
        right: rem(-15px);
      }
    }
  }

  ul {
    list-style: none;
  }
}

.hf__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hf__skip {
  align-items: center;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(1px);
  display: flex;
  height: 1px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transition: none;
  white-space: nowrap;
  width: 1px;

  &:focus {
    background-color: $color-primary--alpha;
    clip: auto;
    color: $color-secondary--alpha;
    height: 100%;
    width: auto;
  }
}

.hf__logo {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.hf__img {
  img {
    display: block;
  }
}

.hf__src {
  display: block;
  height: rem(90px);
  width: rem(90px);

  @include mq($until: mobile) {
    height: rem(60px);
    width: rem(60px);
  }
}

.hf__cld {
  margin-left: rem(15px);
  width: rem(90px);

  @include mq($until: mobile) {
    font-size: ms(-1);
    margin-left: rem(10px);
    width: rem(60px);
  }
}

.hf__list {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hf__link {
  // color: inherit;
  display: flex;
  font-size: ms(-1);
}
