.sidebar {
  padding: rem(10px) rem(5px) 0;

  @include mq($from: tablet) {
    padding-bottom: rem(20px);
    padding-top: rem(20px);
    position: sticky;
    top: 0;
  }

  ul {
    border-left: none;
    padding-left: 0;
  }

  li {
    font-size: ms(0);
  }

  .highlight {
    a {
      color: $color-beta;
    }
  }
}

@include mq($until: tablet) {
  .sidebar {
    ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: rem(10px) rem(10px) rem(20px);
    }

    li + li {
      margin-left: rem(10px);
    }
  }
}
