block variables
- var siteName = locals.site.siteName ? locals.site.siteName : 'Starter Project';
- var siteDesc = locals.site.siteDesc ? locals.site.siteDesc : 'Default site description.';
- var siteURL = locals.site.siteURL ? locals.site.siteURL : '/';
- var menu = locals.site.menu ? locals.site.menu : [];
- var menu2 = locals.site.menu2 ? locals.site.menu2 : [];
- var list = locals.data.list ? locals.data.list : [];

- function formatNumber(num)
  - return num < 10 ? '0' + num : num;

- function formatDate(date)
  - var d = new Date(date);
  - return d.getFullYear() + '-' + formatNumber(d.getMonth() + 1) + '-' + formatNumber(d.getDate());
